  /* Starting general style sheet */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  /* The main behavoir done */
  /* Navigation Bar */
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background-color: #cbdaa9;
    font-family: "rakkas-regular", serif;
  }
  .nav-links{
    display: flex;
    font-size: 22px;
    justify-content: space-around;
    list-style: none;
    width: 40%;
    gap: 22px;
  }
  .nav-links a:hover{
    color: #000;
  }
  .nav-links a{
    color: #000;
    text-decoration: none;
  }
  /* divider */
  .logo{
    background-color: #cbdaa9;
    font-family: 'rakkas-regular', serif;
    font-size: 24px;
    color: #000;
  }
/* end of navigation bar */
  /* end of divider */
  title{
    color: #F5EBE0;
    font-family: 'molle-regular-italic', cursive;
    font-size: 144px;
  }
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Karma", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f5ebe0;
    color: #3c2716;
}
  /* The main behavoir done */
  .highlight-green{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #cbdaa9 65%);
}
h1{
    margin: auto;
    font-family: "molle-regular-italic", italic;
    font-size: 58px;
    color: black;
    text-align: center;
}
h2{
    font-family: "rakkas-regular", italic;
    font-size: 38px;
    color:#2d1d11;
    margin-bottom: auto;

}
h3{
    font-family: "rakkas-regular", italic;
    font-size: 28px;
    color:#2d1d11;
    margin-top: auto;
    margin-bottom: auto;
}
p{
    font-family: "karma-regular", serif;
    font-size: 20px;
    color: #2d1d11;
    text-align: auto;
    margin-top: auto;
    margin-bottom: 20px;
}
h4{
    font-family: "rakkas-regular", italic;
    font-size: 58px;
    color: #000;;
    margin-top: auto;
    margin-bottom: auto;
}
.experience{
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2rem;
    text-align:center;
}
/* education edits */
.education{
    align-items: center;
    flex: 1;
    text-align: center;
}
.education 
h5{
    font-family: "rakkas-regular", italic;
    font-size: 26px;
    color:#2d1d11;
    margin-top: auto;
    margin-bottom: auto;
}
/* general footer for every page */
footer{
  background-color:#fff;
  color: #000;
  box-sizing: border-box;
}
footer h1{
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-family: "rakkas-regular", serif;

}
footer p{
  text-align: center;
  padding: 20px;
  font-size: 12px;
  font-family: "karma-regular", serif;
}
.button {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "rakkas-regular",serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus {
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    padding: 12px 50px;
}
.contact{
  font-size: 22px;
  font-family: "rakkas-regular", serif;
  color: #000;
  text-align: center;
  padding: 20px;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* End of general footer */