  /* Navigation Bar */
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background-color: #cbdaa9;
    font-family: "rakkas-regular", serif;
  }
  .nav-links{
    display: flex;
    font-size: 22px;
    justify-content: space-around;
    list-style: none;
    width: 40%;
    gap: 22px;
  }
  .nav-links a:hover{
    color: #000;
  }
  .nav-links a{
    color: #000;
    text-decoration: none;
  }
  /* divider */
  .logo{
    background-color: #cbdaa9;
    font-family: 'rakkas-regular', serif;
    font-size: 24px;
    color: #000;
  }
    /* end of navigation bar */
.highlight-green{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #cbdaa9 65%);
}
h1{
    margin: auto;
    font-family: "molle-regular-italic", italic;
    font-size: 38px;
    color:#2d1d11
}