/* Importing fonts into the stylesheet */

@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Molle&family=Rakkas&display=swap')

/* end of fonts being imported */
  .karma-light {
    font-family: "Karma", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .karma-regular {
    font-family: "Karma", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .karma-medium {
    font-family: "Karma", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .karma-semibold {
    font-family: "Karma", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .karma-bold {
    font-family: "Karma", serif;
    font-weight: 700;
    font-style: normal;
  }
  .rakkas-regular {
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
  }
  .molle-regular-italic {
    font-family: "Molle", cursive;
    font-weight: 400;
    font-style: italic;
  }
  
  /* end of fonts being imported */

  /* Starting general style sheet */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  /* The main behavoir done */
  /* Navigation Bar */
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background-color: #cbdaa9;
    font-family: "rakkas-regular", serif;
  }
  .nav-links{
    display: flex;
    font-size: 22px;
    justify-content: space-around;
    list-style: none;
    width: 40%;
    gap: 22px;
  }
  .nav-links a:hover{
    color: #000;
  }
  .nav-links a{
    color: #000;
    text-decoration: none;
  }
  /* divider */
  .logo{
    background-color: #cbdaa9;
    font-family: 'rakkas-regular', serif;
    font-size: 24px;
    color: #000;
  }
/* end of navigation bar */
  /* end of divider */
  title{
    color: #F5EBE0;
    font-family: 'molle-regular-italic', cursive;
    font-size: 144px;
  }
  body{
    background-color:#F5EBE0;
  }
  header{
    background-color: #cbdaa9;
  }
  h1{
    margin: auto;
    font-family: "molle-regular-italic", italic;
    font-size: 38px;
    color:#2d1d11
  }
  h2{
    font-family: 'rakkas-regular', serif;
    font-size: 65px;
  }
  span{
    font-family: "rakkas-bold", serif;
    font-weight: 700px;;
  }
  p{
    font-family: "karma-regular", serif;
    font-size: 48px;
    color: #528051;
    text-align: center;

  }
  /* Phtoto editing */
.section-picture{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-right: 20px;
}
.section-picture, img{
    width: 150px;
    height: auto;
    background-color: transparent;
    position: relative;
}
.container{
  width: 100%;
  height: 100vh;
  background: #000;
  color:#cbdaa9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container h1{
  font-size: 80px;
  font-weight: 600;
}
.container h2{
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}
.container h3{
  font-size: large;
  display: flex;
}
.container span{
  font-size: 48px;
  font-weight: 300;
  margin-top: 2px;
  float: right;
}
.intro p{
  font-size: 72px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
  position: fixed;
  display: flex;
}
.name{
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

/* end of general style sheet */
/* general footer for every page */
footer{
  background-color:#fff;
  color: #000;
  box-sizing: border-box;
}
footer h1{
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-family: "rakkas-regular", serif;

}
footer p{
  text-align: center;
  padding: 20px;
  font-size: 12px;
  font-family: "karma-regular", serif;
}
button{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button hover{
  box-shadow: rgba(44,187,99,35) 0 -25px 18px -14px inset, rgba(44,187,99,.25) 0 1px 2px, rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform:scale(1.05)rotate(1deg);
}
.contact{
  font-size: 22px;
  font-family: "rakkas-regular", serif;
  color: #000;
  text-align: center;
  padding: 20px;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}